.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #323232;
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 10px;
}

.text {
    color: #666;
    font-size: 18px;
    font-weight: 1000;
}