.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #323232;
    box-shadow: 4px 4px #ffffff;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: #a6a6a6;
    opacity: 0.8;
}

.input:focus {
  border: 2px solid #782df0;
}
